<!-- Botón para crear tarea (ahora abre modal) -->
<div class="new-task-form">
  <button *ngIf="isAdminOrSupervisor()" (click)="openCreateTaskDialog()">
    Crear tarea
  </button>
</div>

<!-- Contenedor principal del tablero Kanban -->
<div cdkDropListGroup class="kanban-container">
  <div class="column" *ngFor="let column of columns; let colIndex = index">
    <h3>{{ column.title }}</h3>

    <div cdkDropList [id]="'column-' + colIndex" [cdkDropListData]="column.tasks"
      [cdkDropListConnectedTo]="connectedDropLists" class="task-list"
      (cdkDropListDropped)="drop($event, column.status)">
      <ng-container *ngIf="column.tasks.length > 0; else emptyColumn">
        <div class="task-card" *ngFor="let task of column.tasks; let taskIndex = index" cdkDrag
          (click)="editTask(colIndex, taskIndex)">

          <div class="task-header">
            <span class="task-id">#{{ task.id }}</span>
          </div>

          <div class="task-title">{{ task.title }}</div>

          <div class="task-footer">
            <small>🕒 {{ task.estimatedTime }} | ⏱ {{ task.actualTimeWorked }}</small>
            <span class="task-tag" *ngIf="task.assignedTo" [ngStyle]="{
    'background-color': task.assignedUser?.colorHex,
    'color': getTextColor(task.assignedUser?.colorHex)
  }">
              {{ task.assignedTo }}
            </span>

          </div>

          <!-- <div class="task-timer-controls" *ngIf="task.status === 'InProgress' || task.status === 'Testing'">
            <button (click)="onToggleTimer(task, $event)">
              {{ task.isTimerRunning ? '⏸️ Pausar' : '▶️ Reanudar' }}
            </button>
          </div> -->

        </div>
      </ng-container>

      <ng-template #emptyColumn>
        <div class="empty-placeholder">
          Suelta aquí para mover una tarea
        </div>
      </ng-template>
    </div>
  </div>
</div>